@page "/"


<h1>Trädgårdsrproffsen Admin Sida</h1>
<a href="C:\Users\Yamato\Documents\Programing\C#\Trädgårdsproffsen\Trädgårdsproffsen\TradgardsproffsenApp\TradgardsproffsenAppFinalServerSide\Pages\Index.razor">C:\Users\Yamato\Documents\Programing\C#\Trädgårdsproffsen\Trädgårdsproffsen\TradgardsproffsenApp\TradgardsproffsenAppFinalServerSide\Pages\Index.razor</a>
<h4>Sidan kan användas för att lägga till, updatera eller radera företag från databasen.</h4>
<h4>Den kan även användas för att Matcha leads med företag och skicka ut offerter till företagen.</h4>




