@page "/loselead/{id}"
@using TradgardsproffsenApp.Models
@using TradgardsproffsenApp.Data.Services
@inject LostLeadService Service
@inject NavigationManager NaviManager

<h3>Förlora Lead</h3>

@code {

}
