<div class="dialog-container">
    <div class="dialog">
        <div class="dialog-title">
            <h2>Grattis</h2>
            Ditt konto har skapats.
        </div>
        <form class="dialog-body"></form>
        <div class="dialog-buttons">
            <span class="mr-center">
                Ditt konto har skapats.
            </span>
            <button  @onclick="OnCancel" class="btn btn-success ml-auto">Ok</button>
        </div>
    </div>
</div>
@code{
    [Parameter] public EventCallback OnCancel { get; set; }
}